body {
  display: grid;
  place-items: center;
}

.App {
  text-align: center;
  width: 600px;
  background-color: bisque;
}

.nav-ul {
  display: flex;
  justify-content: space-around;

  border-bottom: 1px solid grey;
  margin: 0rem 3rem;
}

ul {
  list-style: none;
  background-color: lightblue;
}

.todo-list {
  display: flex;
  justify-content: flex-startnpm;
}
.todo-list > input {
  margin-right: 5rem;
}

.line-through {
  text-decoration: line-through;
}

.input-Form {
  margin: 1rem 0rem;
}

.input-Form > input,
.input-Form > button {
  font-size: 20px;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}
.input-Form > input,
.input-Form > input:focus,
.input-Form > button {
  border: none;
  border-radius: 0.3rem;
  margin-right: 1rem;
  outline: none;
}

.input-Form > button:hover {
  width: 3rem;
}
